#fondo{
    background-image: url(https://i.pinimg.com/564x/d1/a2/4f/d1a24ff93dbcca4838c2d5b7c79704f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration-color: aquamarine;
    
}


#img-stack{
    width: 500px;
}
#fondoperfil{
    box-sizing: content-box;
}



.bg-primary{
    background-color: #e8e2ff!important;
}

.nav-link{
    color: #ffffff!important;
}

.text-bg-primary {
    background-color: #7b471d!important;
}

.btn-primary {
    background-color: #fd9843!important;
}

#secciones{
    background-color: #fffffff7;
}
#proyectos{
    background-color: #e8e2ff;
}
.titulo-proyecto{
    text-shadow: 2px 5px 30px #000000;
    
}

#Calculo-de-Insolación-Solar{
    background-image: url('imagenes/sol.jpg');
    background-position: center;
    

}
#clonacion-google{
    background-image: url('https://i.pinimg.com/564x/47/3b/71/473b71b6dab0a384a8798d2683010df3.jpg');
    background-position: center;

}
#miprimerapagina{
    background-image: url(https://i.pinimg.com/originals/b1/84/78/b184782b999a9c27030d36d2bfcf0f24.gif);
}
#galeria{
    background-color: #e8e2ff;
}
.carousel-inner{
    display: flex;
  overflow: hidden;
}
.carousel-item{
    flex: 0 0 auto;
  margin: 100 200px;
}

.d-block{
    width: 100%;
  height: auto;
}

.icono {
    font-size: 2rem;
    color: white;
    margin: 12px;
}

